.body {
    margin: 0%;
    padding: 0%;
}

.ToDoApp {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    width: 100vw;
    height: 100vh;
}

.AddTask {
    flex: 20%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 2%;
}

.AddToDo {
    width: 50vw;
}

.TaskAlreadyExists {
    color: red;
}

.AddToDoBtn, .DeleteAllTasksBtn {
    padding-top: 1%;
    float: right;
}

.TaskList {
    flex: 80%;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #fff7f0;
}

.Tasks {
    padding-top: 2%;
    width: 80vw;
}

.DeleteBtn {
    padding-left: 2%;
    cursor: pointer;
    float: right;
}

.CompletedCheckbox {
    cursor: pointer;
}

.TaskContent, .TaskContentComplete {
    overflow-y: auto;
    height: auto;
    max-height: 100px;
}

.TaskContentComplete {
    text-decoration-line: line-through;
}

.TaskCard {
    background-color: aquamarine;
}